.catalog-container {
    font-size: 22px;
}

.catalog-title-container {
    margin-bottom: 20px;
}

.catalog-title-container h1 {
    letter-spacing: -0.015em;
    color: #263238;
    font-size: 1em;
}

@media (min-width: 576px) {
    .catalog-title-container h1 {
        font-size: 1.35em;
    }
}